:root {
  /*Primary*/
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);

  /*Neutral*/
  --main-heading-stats: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  background-color: var(--main-background);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

main {
  background-color: var(--card-background);
  width: 90%;
  border-radius: 0.5em;
}

.card-text {
  padding: 2em; 
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.img-container {
  position: relative;
}

.mobile-img {
  width: 100%;
  border-radius: 0.5em 0.5em 0 0;
  display: block;
}

.overlay {
  background-color: var(--accent);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0.5;
  z-index: 1;
  border-radius: 0.5em 0.5em 0 0;
}

h1 {
  color: var(--main-heading-stats);
  font-size: 1.7rem;
}

h2 {
  color: var(--main-heading-stats);
}

p {
  color: var(--main-paragraph);
  line-height: 1.5rem;
  opacity: 0.7;
}

.stat-heading {
  color: var(--stat-headings);
  text-transform: uppercase;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.8rem;
  opacity: 0.7;
}

.insights {
  color: var(--accent);
}

footer {
  font-size: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  width: 100%;
}